.is-disabled{
   background-color: gray;
   opacity: 0.5; 
}

.primary{
    background-color: blue;
    color: white;
}

.secondary{
    background-color: green;
    color: white;
}

.btn {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}